body{
    background-image: url('towrite.png')
    }
    nav{
        margin: 40px 20px;
        background-color: rgb(181, 9, 9);
        text-align:center;
        border-radius: 10px;
     }
     a{
        color: yellow;
        text-decoration: none;
        font-size: 25px;
     }
     hr{
        border: 2px;
        margin: 8px;
     }
     p{
        color:rgb(138, 16, 16);
        font-size: 30px;
        text-align: center;
     }
